* {
    margin: 0 auto;
    padding: 0 auto;

}

body {
    background-color: black;
}

.header h1 {
    background-image:
        linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(img/cod3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightgray;
    text-align: center;
    padding: 50px;
    letter-spacing: 15px;
    font-size: 50px;

}

@media (max-width: 992px){
    .header h1{
        padding: 90px;
    }
}

#about {

    display: block;
    background-image:
        linear-gradient(to left bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
        url(img/py.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;

    padding-top: 100px;
    padding-bottom: 180px;
    height: 400px;

    max-width: 100%;
}

#about h2 {
    font-size: 2.5rem;
    text-align: center;
}

#about-text {

    margin-right: 10%;
    margin-left: 10%;
    display: inline-block;
    float: center;
    text-align: center;
    font-size: 1.5rem;
    color: #f7f7f7;
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;

}

@media (max-width: 992px) {

    body {
        background-color: black;
    }

    #about {
        background-image:
            linear-gradient(to left bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(img/resp2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1200px;
        

    }

    #about-text {
        width: 90%;
        margin-top: 100px;
        text-align: center;
        font-size: 2.5rem;
        line-height: 65px;
        margin-right: 5%;
        margin-left: 5%;
        

    }


}




a.ghost {
    display: inline-block;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 50%, white 50%);
    background-size: 100% 200%;
    text-transform: uppercase;
    font: 300 18px 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 15px 45px;
    text-decoration: none;
    transition: background-position 0.6s, color 0.6s, box-shadow 0.6s, margin-top 0.6s;
    float: center;
    margin-left: 38%;


}

@media (max-width: 992px) {
    a.ghost {
        display: inline-block;
        background-color: transparent;
        background-image: linear-gradient(to bottom, transparent 50%, white 50%);
        background-size: 100% 200%;
        text-transform: uppercase;
        font: 300 18px 'Roboto', sans-serif;
        letter-spacing: 2px;
        color: white;
        border: 1px solid white;
        border-radius: 35px;
        padding: 25px 25px;
        font-size: 35px;
        margin-left: 25%;
        margin-top: 10px;
        transition: background-position 0.6s, color 0.6s, box-shadow 0.6s, margin-top 0.6s;
        float: center;
    }
}

a.ghost.inverted {
    background-image: linear-gradient(to bottom, transparent 50%, black 50%);
    color: white;
    border: 1px solid white;
}


a.ghost:hover {
    margin-top: -20px;
    color: #536DFE;
    background-position: 0 -100%;
    box-shadow: 0 15px 25px 5px rgba(1, 1, 1, 0.3);
}

a.ghost.inverted:hover {
    color: white;
    background-position: 0 -100%;
    box-shadow: 0 15px 25px 5px rgba(1, 1, 1, 0.3);
}
