<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Python Erzurum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="header">
        <h1>PYERZURUM</h1>

    </div>
    
    

    <section id="about">
        <h2 class="text-uppercase" style="font-family: 'Cormorant Garamond', serif; letter-spacing: 5px;"></h2>



        <div id="about-text" class="clearfix">

            <p style="opacity: 0.8">Erzurum'da yazılımcıların veya yazılıma ilgi duyanların bir arada toplanıp, sohbet edip, ufuk açıcı konularla ilgili sunumlar dinlemesi amacıyla oluşturulmuş bir organizasyondur.
            </p>
            <br>
            <p style="opacity: 0.8">Katılım için herhangi bir şart yoktur. Yazılıma ilgi duyan, Python meraklısı veya sohbet etmek isteyen herkesi bekliyoruz.</p>
            

        </div>
        
        <br><br><br><br>

        <div class="hayalet-btn">
            <a class="ghost inverted" href="https://www.eventbrite.com/e/python-erzurum-tickets-61357846972?__twitter_impression=true%2Famp&__twitter_impression=true" target="_blank">BAŞVURU İÇİN TIKLAYIN </a>
        </div>


    </section>





</body>

</html>
